In [137]:
#Imports
import os
import pandas as pd
import requests
from newsapi import NewsApiClient
from pprint import pprint
import json
from dotenv import load_dotenv
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

In [138]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

load_dotenv()

True

In [139]:
# Read your api key environment variable
api_key = os.getenv("PVAPI")

In [140]:
# Create a newsapi client
newsapi = NewsApiClient(api_key)

In [141]:
bitcoin_news = newsapi.get_everything(q="bitcoin", language="en", sort_by="publishedAt", page=99, page_size=100
)
bitcoin_list = bitcoin_news["articles"]

In [142]:
responses2 = list() # stores responses for postal codes


for postcode in postcodes:
   rr = newsapi.get_everything(q="bitcoin", language="en", sort_by="publishedAt", page=2, page_size=1)
   plist = rr["articles"]
   postcodes = plist
   #data=postcodes
   responses.append(postcodes)

In [159]:
#def get_and_print_data():
    psh = list()
    r = bitcoin_list

    for i in r:
                print(i)
    if r.get('next'):
                get_and_print_data(info['next'])

        #return get_and_print_data
dfz = pd.DataFrame(psh)
return dfz.head()

IndentationError: unexpected indent (<ipython-input-159-417d6424be66>, line 2)

In [144]:
litecoin_news = newsapi.get_everything(q="litecoin", language="en")
litecoin_news["totalResults"]

19935

In [145]:
polkadot_news = newsapi.get_everything(q="polkadot", language="en")
polkadot_news["totalResults"]

1276

In [146]:
monero_news = newsapi.get_everything(q="monero", language="en")
monero_news["totalResults"]

11377

In [147]:
stellarlumens_news = newsapi.get_everything(q="stellar lumens", language="en")
stellarlumens_news["totalResults"]

1524

In [153]:
# def get_sentiment_score(article, based_on):
sentiments = []
    
    #print(len(article["articles"]))

for article in article["articles"]:
        try:
            text = article[based_on]
            date = article["publishedAt"][:10]
            sentiment = analyzer.polarity_scores(text)
            compound = sentiment["compound"]
            pos = sentiment["pos"]
            neu = sentiment["neu"]
            neg = sentiment["neg"]
            sentiments.append({
                "Date": date,
                "Compound": compound,
                "Negative": neg,
                "Neutral": neu,
                "Positive": pos,
                based_on : text
            })

        except AttributeError:
            pass

    # Create DataFrame
df = pd.DataFrame(sentiments)
return df.head()

KeyError: 'articles'

In [22]:
bitcoin_sa_df = get_sentiment_score(bitcoin_news, 'content')
#bitcoin_sa_df.to_csv("../BitcoinSentiment.csv")
bitcoin_sa_df.head()
#bitcoin_sa_df.describe()

,Date,Compound,Negative,Neutral,Positive,content
0,2020-11-13,-0.9853,0.113,0.855,0.031,Bitcoin emerged victorious in the week that sa...
1,2020-11-13,0.9925,0.036,0.820,0.144,Litecoin price is gaining momentum above $62.0...
2,2020-11-13,0.9001,0.007,0.944,0.049,"The Bitcoin (BTC) price, which is currently si..."
3,2020-11-13,0.8750,0.060,0.858,0.082,"Here is what you need to know on Friday, Novem..."
4,2020-11-13,0.9990,0.019,0.877,0.104,"Zurich - 13 November 2020 - Bitcoin Cash, the ..."

In [63]:
#hellotrial = get_sentiment_score(hello, 'content')
#hellotrial.to_csv("../BitcoinSentiment.csv")

In [39]:
litecoin_sa_df = get_sentiment_score(litecoin_news, 'content')
litecoin_sa_df.head()
litecoin_sa_df.describe()

20

        Compound  Negative    Neutral   Positive
count  20.000000  20.00000  20.000000  20.000000
mean    0.716250   0.03100   0.882800   0.086150
std     0.565879   0.02677   0.048946   0.039542
min    -0.893400   0.00000   0.760000   0.030000
25%     0.832200   0.01150   0.860000   0.049750
50%     0.961800   0.02750   0.888500   0.081500
75%     0.988000   0.03900   0.912000   0.110250
max     0.997200   0.10900   0.953000   0.164000

In [40]:
polkadot_sa_df = get_sentiment_score(polkadot_news, 'content')
polkadot_sa_df.head()
polkadot_sa_df.describe()

20

        Compound   Negative    Neutral   Positive
count  19.000000  19.000000  19.000000  19.000000
mean    0.743884   0.030895   0.870474   0.098684
std     0.513001   0.029732   0.064159   0.053028
min    -0.726600   0.000000   0.729000   0.000000
25%     0.900200   0.008500   0.836500   0.066000
50%     0.992800   0.024000   0.865000   0.102000
75%     0.997100   0.042000   0.912000   0.137500
max     0.999500   0.108000   1.000000   0.198000

In [41]:
monero_sa_df = get_sentiment_score(monero_news, 'content')
monero_sa_df.head()
monero_sa_df.describe()

20

        Compound   Negative    Neutral   Positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.173530   0.062950   0.851800   0.085250
std     0.887793   0.037867   0.048066   0.038668
min    -0.981700   0.006000   0.777000   0.030000
25%    -0.893000   0.036500   0.807500   0.063000
50%     0.637800   0.054000   0.857500   0.080500
75%     0.982050   0.090750   0.897000   0.106250
max     0.995800   0.132000   0.925000   0.171000

In [42]:
stellarlumens_sa_df = get_sentiment_score(stellarlumens_news, 'content')
stellarlumens_sa_df.head()
stellarlumens_sa_df.describe()

20

        Compound   Negative    Neutral   Positive
count  20.000000  20.000000  20.000000  20.000000
mean    0.695925   0.030950   0.864950   0.104100
std     0.668742   0.022995   0.033794   0.040441
min    -0.987200   0.008000   0.785000   0.009000
25%     0.951075   0.013500   0.846000   0.080750
50%     0.972650   0.022500   0.860500   0.100000
75%     0.984650   0.046250   0.890500   0.130250
max     0.999800   0.081000   0.919000   0.171000